<!-- Modal Services Suport Modal -->
<div class="modal fade" id="suport" tabindex="-1" role="dialog" aria-labelledby="suportTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-justify m-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3>Suporte técnico</h3>
                <div class="img-fluid mb-2">
                    <img class="img-modal-body" src="https://cdn.pixabay.com/photo/2016/10/13/16/26/web-agency-1738168_960_720.jpg" alt="{{page.description}}">
                </div>
                <p>Em todos os nossos pacotes de webdesign oferecemos 60 dias de suporte técnico gratuito,após esse período se você desejar poderá contratar nosso suporte técnico, o valor da mensalidade é definido em cada um dos nossos pacotes premium que você pode conferir logo abaixo na seção de preços.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Services Virtual Shop -->
<div class="modal fade" id="shop" tabindex="-1" role="dialog" aria-labelledby="shopTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-justify m-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3>Catálogo Digital</h3>
                <div class="img-fluid mb-2">
                    <img class="img-modal-body"
                        src="https://cdn.pixabay.com/photo/2016/10/13/16/26/web-agency-1738168_960_720.jpg"
                        alt="{{page.description}}">
                </div>
                <p>
                    Vamos além dos limites das soluções tradicionais. Aumente suas vendas, melhore a experiência de compra do seu consumidor possibilitando um crescimento exponencial para sua empresa.
                </p>
            </div>
            <div class="modal-footer">
                <div class="alink-budget text-center">
                    <a href="https://api.whatsapp.com/send?phone=16362495162&text=" class="btn btn-success">Solicitar orçamento</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Services Virtual Catalogo Eletrônico -->
<div class="modal fade" id="catalog" tabindex="-1" role="dialog" aria-labelledby="catalogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-justify m-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3>Cardápio Digital</h3>
                <div class="img-fluid mb-2">
                    <img class="img-modal-body"
                        src="https://cdn.pixabay.com/photo/2016/10/13/16/26/web-agency-1738168_960_720.jpg"
                        alt="{{page.description}}">
                </div>
                <p>
                O seu cardápio digital sempre disponível 24/7. 24 horas por dia, 7 dias por semana, 365 dias por ano, constantemente disponível para sua força de vendas,representantes, revendas, distribuidores e clientes. 
                </p>
            </div>
            <div class="modal-footer">
                <div class="alink-budget text-center">
                    <a href="https://api.whatsapp.com/send?phone=16362495162&text=" class="btn btn-success">Solicitar orçamento</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Services Virtual Blogs -->
<div class="modal fade" id="blogs" tabindex="-1" role="dialog" aria-labelledby="blogsTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-justify m-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3>Blogs</h3>
                <div class="img-fluid mb-2">
                    <img class="img-modal-body"
                        src="https://cdn.pixabay.com/photo/2016/10/13/16/26/web-agency-1738168_960_720.jpg"
                        alt="{{page.description}}">
                </div>
                <p>
                    Criação da estrutura básica e adaptação para buscadores. Nós podemos cuidar também da interação e outras ações necessárias para o sucesso do seu blog.
                </p>
                <p>Este serviço foi dividido em dois pacotes completos para atender as suas necessidades. Confira abaixo oque cada pacote possui.</p>
            <div class="why-us">
                <div class="accordion-list modalSection">
                    <ul>
                        <li>
                            <a data-toggle="collapse" class="collapsed" href="#ac-list-1">
                                <span>01</span> Básico
                                <i class="bx bx-chevron-down icon-show"></i>
                                <i class="bx bx-chevron-up icon-close"></i></a>
                            </a>
                            <div id="ac-list-1" class="collapse" data-parent=".accordion-list">
                                <div class="box">
                                <p><i class="bx bx-check bx-services"></i>
                                   3 páginas, Home, About e Contact
                                </p>
                                <p class="times"><i class="icofont-close"></i>
                                    Compartilhamento nas redes sociais
                                </p>
                                <p><i class="bx bx-check bx-services"></i>Exemplo de algum coisa as asas de fe </p>
                                <p class="times"><i class="icofont-close"></i>Exemplo de algum coisa as asas de fe </p>
                                <p><i class="bx bx-check bx-services"></i>Exemplo de algum coisa as asas de fe </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a data-toggle="collapse" href="#ac-list-2" class="collapsed">
                                <span>02</span> Premium
                                <i class="bx bx-chevron-down icon-show"></i>
                                <i class="bx bx-chevron-up icon-close"></i></a>
                            </a>
                            <div id="ac-list-2" class="collapse" data-parent=".accordion-list">
                                <p>
                                    Depois de recebermos as informações iniciais (o mais importante é a sua empresa / setor), iniciamos
                                    nossa pesquisa de mercado adicional e identificamos algumas idéias preliminares para o tipo de site
                                    que criaremos. Em seguida, mostramos essas idéias iniciais para permitir que você determine o melhor
                                    ajuste daqui para frente.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <div class="alink-budget text-center">
                    <a href="https://api.whatsapp.com/send?phone=16362495162&text=" class="btn btn-success">Solicitar orçamento</a>
                </div>
            </div>
        </div>
    </div>
</div>