<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

        <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
                <h3>Pacote personalizado</h3>
                <p>Se você gostaria de discutir um pacote personalizado ou fazer adições aos nossos pacotes atuais, entre em contato conosco e solicite seu orçamento gratuitamente. Quaisquer perguntas que você tenha, nosso objetivo é respondê-las o mais rápido possível, observe que podemos estar ocupados com os projetos atuais de web design, pois limitamos o número de clientes
                que contratamos a qualquer momento.</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="https://api.whatsapp.com/send?phone=16362495162&text=">Solicitar orçamento</a>
            </div>
        </div>
    </div>
</section>