<section id="skills" class="skills">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                <img src="assets/img/skills.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                <h3>Importância de um site para uma organização</h3>
                <p class="font-italic">
                Com todos os benefícios que um site traz para uma empresa, a importância de ter um site deve ser clara.
                Podemos resumir e dizer que todo mundo tem um site hoje em dia, mas isso não conta metade da história.
                Se você quer ser levado a sério como empresa, precisa levar a sério a tarefa de assumir negócios.
                Nada diz mais sobre negócios profissionais do que seu próprio site profissional. Nada se conecta mais com seus clientes online. Adicione isso a todos os grandes benefícios que um site traz para sua empresa em um nível funcional, um nível de vendas. Deve ser uma das primeiras coisas que uma empresa de qualquer tamanho faz, é de missão crítica se você quiser
                avançar ou apenas se certificar de que não acaba voltando para trás.
                </p>
                <!-- <div class="skills-content">

                    <div class="progress">
                        <span class="skill">HTML <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">CSS <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">JavaScript <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Photoshop <i class="val">55%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>

                </div> -->
            </div>
        </div>
    </div>
</section><!-- End Skills Section -->