<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Comece sua jornada on-line com um ótimo site</h2>
            <p>Você já deve saber o que precisa ou talvez ainda esteja tentando descobrir.
            Seja qual for o estágio em que você esteja, vamos ajudá-lo a encontrar o que procura.</p>
        </div>

        <div class="faq-list">
            <ul>
                <li data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-info-circle icon-info"></i> <a data-toggle="collapse" class="collapse"
                        href="#faq-list-1">Pequenos negócios<i
                            class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                       <p>Ideal para a maioria das pequenas empresas que desejam uma solução profissional, a partir de R$399,00.</p>
                       <p>Nosso pacote mais popular é perfeito para qualquer novo negócio.
                        Um site profissional sem estresse.
                        Contendo todos os elementos do pacote pessoal com acréscimos, como: Incluído cinco páginas, Incluímos todos os modelos de privacidade e termos. Compatível com GDPR significa que você pode incluir medições estatísticas em suas páginas enquanto é totalmente compatível com todos os padrões e requisitos da Internet. Um elemento essencial para qualquer site de negócios.</p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-info-circle icon-info"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">Comércio
                        eletrônico<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                        <p>Para quem quer um lugar para vender on-line, oferecemos a loja de comércio eletrônico, a partir de R$ 499,00</p>
                       <p>Se é uma loja on-line que você precisa, então é uma loja on-line que você      receberá. O varejo on-line é um grande negócio, com uma loja totalmente integrada no seu site. A opção de comércio eletrônico é perfeita se você deseja vender
                       produtos físicos e até uma boa opção para vender vários produtos digitais. Incluindo todos os recursos de pacotes pessoais e de pequenas empresas. Com uma interface fácil de usar, você será mantido atualizado com os novos pedidos e
                       terá a opção de automatizar todo o processo.</p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-info-circle icon-info"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">Site pessoal<i class="bx bx-chevron-down icon-show"></i><i
                            class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                       <p>Uma opção profissional e direta para cobrir todas as suas necessidades básicas online, a partir de R$299,00</p>
                       <p>Nosso pacote básico de orçamento é ótimo para qualquer projeto individual. Um site simples que permite a presença na web sem complicações. Com uma página inicial que se destaca e um contato profissional por e-mail, isso também pode servir como um excelente espaço reservado para uma pequena empresa que deseja uma presença on-line sem a necessidade de adicionar conteúdo adicional.</p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-info-circle icon-info"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">Personalizado<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                        <p>Preço sob consulta - dependendo dos recursos e páginas que você escolher.</p>
                        <p>Esta opção é para especialistas e requisitos específicos. Datas de implantação e codificação extra de PHP, CSS e API podem ser especificadas antes do início do trabalho.</p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="500">
                    <i class="bx bx-info-circle icon-info"></i> <a data-toggle="collapse" href="#faq-list-2"
                        class="collapsed">Conquiste mais clientes e construa sua presença online<i
                            class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                        <p>Fique à frente do jogo e na frente do seu público com uma presença online.</p>
                        
                        <p>Exiba seu produto e trabalhe bem na frente deles.</p>
                        
                        <p>Esteja à frente dos seus concorrentes com um site que se destaca na multidão.</p>
                        
                        <p>Onde quer que seus clientes estejam, eles o encontrarão.</p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="600">
                    <i class="bx bx-info-circle icon-info"></i> <a data-toggle="collapse" href="#faq-list-3"
                        class="collapsed">Economize tempo e dinheiro com uma presença on-line poderosa <i
                            class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                        <p>Online e acessível 24/7 para atender às necessidades de você e de seus clientes.</p>
                        
                        <p>Economize um tempo valioso e deixe seu novo site transformar visitantes em clientes.</p>
                        
                        <p>Economize dinheiro com impressão de informações e publicidade mais barata com um alcance mais amplo on-line.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>