<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Serviços</h2>
            <p>Dê uma olhada nos nossos pacotes de web design para ter uma idéia de todos os recursos oferecidos para o seu novo site a preços muito acessíveis, todos listados antecipadamente, para que não haja jogos de adivinhação.</p>
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4><a href="">Hotsites</a></h4>
                    <p>Site criado para ações sazonais de marketing digital.</p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">Loja virtual</a></h4>
                    <p>Vamos além dos limites das soluções tradicionais.</p>
                    <!--  e crie a loja dos seus sonhos. aumente suas vendas, melhore a experiência de compra do seu consumidor possibilitando um crescimento exponencial para sua empresa. -->
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="">Catálogo eletrônico</a></h4>
                    <p>O seu catálogo de produtos sempre disponível 24/7.</p>
                    <!-- 24 horas por dia, 7 dias por semana, 365 dias por ano constantemente disponível para sua força de vendas, representantes, revendas, distribuidores e clientes. -->
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-layer"></i></div>
                    <h4><a href="">Blogs</a></h4>
                    <p>Criação, desenvolvimento e adaptação de blogs.</p>
                    <!--  Nossa agencia pode também cuidar da interação e outras ações necessárias para o sucesso do seu blog. -->
                </div>
            </div>
        </div>
    </div>
</section><!-- End Services Section -->