<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Comece sua jornada on-line com um ótimo site</h2>
            <p>Você já deve saber o que precisa ou talvez ainda esteja tentando descobrir.
            Seja qual for o estágio em que você esteja, vamos ajudá-lo a encontrar o que procura.</p>
        </div>

        <div class="faq-list">
            <ul>
                <li data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-info-circle icon-info"></i> <a data-toggle="collapse" class="collapse"
                        href="#faq-list-1">3 opções com preços que vão de R$299 a R$599 e uma opção totalmente personalizada para você escolher!<i
                            class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                        <p>Com opções para pequenas empresas, comércio eletrônico, sites pessoais e uma opção personalizada.</p>
                        
                       <p>Uma das coisas mais econômicas que você pode fazer pelo seu negócio, direta e simples.</p>
                        
                       <p>Opções para atender a todas as suas necessidades em um pacote simples, de qualidade premium e amigável ao orçamento.</p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-info-circle icon-info"></i> <a data-toggle="collapse" href="#faq-list-2"
                        class="collapsed">Conquiste mais clientes e construa sua presença online<i
                            class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                        <p>Fique à frente do jogo e na frente do seu público com uma presença online.</p>
                        
                        <p>Exiba seu produto e trabalhe bem na frente deles.</p>
                        
                        <p>Esteja à frente dos seus concorrentes com um site que se destaca na multidão.</p>
                        
                        <p>Onde quer que seus clientes estejam, eles o encontrarão.</p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-info-circle icon-info"></i> <a data-toggle="collapse" href="#faq-list-3"
                        class="collapsed">Economize tempo e dinheiro com uma presença on-line poderosa <i
                            class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                        <p>Online e acessível 24/7 para atender às necessidades de você e de seus clientes.</p>
                        
                        <p>Economize um tempo valioso e deixe seu novo site transformar visitantes em clientes.</p>
                        
                        <p>Economize dinheiro com impressão de informações e publicidade mais barata com um alcance mais amplo on-line.</p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-info-circle icon-info"></i> <a data-toggle="collapse" href="#faq-list-4"
                        class="collapsed">Aumente a credibilidade online e melhore a produtividade<i
                            class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                        <p>melhore a credibilidade comercial dos clientes com seu próprio site comercial.</p>
                        
                        <p>Aumente sua autoridade comercial no B2B, com um site online e endereço de email.</p>
                        
                        <p>Um endereço de email profissional com um site profissional mostra uma empresa em que você pode confiar.</p>
                        
                        <p>Você está aumentando sua produtividade graças às páginas que fazem o trabalho duro para você.</p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="500">
                    <i class="bx bx-info-circle icon-info"></i> <a data-toggle="collapse" href="#faq-list-5"
                        class="collapsed">Pacotes de sites para pequenas empresas e além <i class="bx bx-chevron-down icon-show"></i><i
                            class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                        <p>
                        Existem três pacotes diferentes para escolher, incluindo uma opção personalizada para quaisquer requisitos adicionais.
                        Economize tempo e dinheiro e deixe que um desenvolvedor da Web faça o trabalho por você. Veja algumas de nossas criações
                        mais recentes.
                        </p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>