<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Outros Serviços</h2>
            <small>Serviços de suporte técnico e catálogo  eletrônico possuem tarifa mensal.</small>
            <p>Dê uma olhada nos nossos pacotes de web design para ter uma idéia de todos os recursos oferecidos para o seu novo site a preços muito acessíveis, todos listados antecipadamente, para que não haja jogos de adivinhação. Abaixo listamos outros dos nossos serviços que podem ser incluídos em algum dos nossos pacotes principais ou adquiridos separadamente.</p>
            <strong>Clique no título do serviço para ver mais. ;)</strong>
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4><a href="" data-toggle="modal" data-target="#suport">Suporte Técnico</a></h4>
                    <p>60 dias free na compra de qualquer um de nossos pacotes premium.</p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="" data-toggle="modal" data-target="#shop">Loja virtual</a></h4>
                    <p>Vamos além dos limites das soluções tradicionais.</p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="" data-toggle="modal" data-target="#catalog">Catálogo eletrônico</a></h4>
                    <p>O seu catálogo de produtos sempre disponível 24/7.</p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-layer"></i></div>
                    <h4><a href="" data-toggle="modal" data-target="#blogs">Blogs</a></h4>
                    <p>Criação, desenvolvimento e adaptação de blogs.</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Services Section -->
{% include modalServices.html %}