<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Preços</h2>
            <p>Exibimos nossos preços de maneira clara e fácil de entender, todos listados abaixo, juntamente com um processo de compra simples e o que acontece a seguir…</p>
        </div>
        <div class="row">
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="box">
                    <h3>Site pessoal</h3>
                    <h4><sup>R$</sup>399
                        <!-- <span>per month</span> -->
                    </h4>
                    <ul>
                        <li><i class="bx bx-check"></i>3 páginas incluídas, Página inicial + sobre + contato</li>
                        <li><i class="bx bx-check"></i> Compatível com dispositivos móveis / totalmente responsivo</li>
                        <li><i class="bx bx-check"></i> Configuração profissional de contas de email 1 (com encaminhamento de email)</li>
                        <li><i class="bx bx-check"></i>Propriedade e login completos</li>
                        <li><i class="bx bx-check"></i>Registro do Domínio</li>
                        <li><i class="bx bx-check"></i>Submissão aos mecanismos de pesquisa</li>
                        <li><i class="bx bx-check"></i>SEO friendly</li>
                        <li class="na"><i class="bx bx-x"></i> <span>Instalação SSL</span></li>
                        <li><i class="bx bx-check"></i>Tutorial de acompanhamento sobre como usar seu novo site</li>
                        <li class="na"><i class="bx bx-x"></i> <span>1 ano de hospedagem na web</span></li>
                        <li><i class="bx bx-check"></i>Imagens incluídas - 3</li>
                    </ul>
                    <a href="#" class="buy-btn">Comprar</a>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                <div class="box featured">
                    <h3>Pequenas empresas</h3>
                    <h4><sup>R$</sup>599
                        <!-- <span>per month</span> -->
                    </h4>
                    <ul>
                        <li><i class="bx bx-check"></i> Site para pequenas empresas - 5 páginas (página inicial, contato, sobre, blog, privacidade / termos)</li>
                        <li><i class="bx bx-check"></i> Compatível com dispositivos móveis / totalmente responsivo</li>
                        <li><i class="bx bx-check"></i> Configuração profissional de contas de email - 3 (com encaminhamento de email)</li>
                        <li><i class="bx bx-check"></i> 1 ano de hospedagem na web</li>
                        <li><i class="bx bx-check"></i> Registro do Domínio</li>
                        <li><i class="bx bx-check"></i> Formulário de Contato</li>
                        <li><i class="bx bx-check"></i> Configuração do Google Analytics</li>
                        <li><i class="bx bx-check"></i> SEO friendly</li>
                        <li><i class="bx bx-check"></i> Tutorial de acompanhamento sobre como usar seu novo site</li>
                        <li><i class="bx bx-check"></i> Instalação SSL</li>
                        <li><i class="bx bx-check"></i> Imagens incluídas - 5</li>
                    </ul>
                    <a href="#" class="buy-btn">Comprar</a>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div class="box">
                    <h3>Comércio eletrônico</h3>
                    <h4><sup>R$</sup>899
                        <!-- <span>per month</span> -->
                    </h4>
                    <ul>
                        <li><i class="bx bx-check"></i> Site de comércio eletrônico - 6 páginas incluídas (função de compra de loja online / loja de comércio eletrônico,
                        Homepage, contato, blog, privacidade / termos, página do produto, página do artigo)</li>
                        <li><i class="bx bx-check"></i> Compatível com dispositivos móveis / totalmente responsivo</li>
                        <li><i class="bx bx-check"></i> Configuração profissional de contas de email - até 10 (com encaminhamento de email)</li>
                        <li><i class="bx bx-check"></i> 1 ano de hospedagem na web</li>
                        <li><i class="bx bx-check"></i> Registro do Domínio</li>
                        <li><i class="bx bx-check"></i> Formulário de Contato</li>
                        <li><i class="bx bx-check"></i> Loja online - Integração total do comércio eletrônico</li>
                        <li><i class="bx bx-check"></i> Configuração do Google Analytics</li>
                        <li><i class="bx bx-check"></i> Submissão aos mecanismos de pesquisa</li>
                        <li><i class="bx bx-check"></i> Tutorial de acompanhamento sobre como usar seu novo site</li>
                        <li><i class="bx bx-check"></i> Instalação SSL</li>
                        <li><i class="bx bx-check"></i> Imagens incluídas - até 10</li>
                        <li><i class="bx bx-check"></i> Conversão otimizada</li>
                    </ul>
                    <a href="#" class="buy-btn">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Pricing Section -->